* {
    font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: #32cefe;
}

/* Headlines */
h1,
.h1 {
    font-size: 2.25rem;
}

h2,
.h2 {
    font-size: 1.75rem;
}

h3,
.h3 {
    font-size: 1.5rem;
}

h4,
.h4 {
    font-size: 1.3rem;
}

h5,
.h5 {
    font-size: 1.15rem;
}

h6,
.h6 {
    font-size: 1rem;
}

/* Sidebar */
.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 3rem 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link {
    font-weight: 500;
    color: #2b2b2bff;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #32cefe;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/* Content */
[role="main"] {
    padding-top: 3rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.profile-img {
    height: 37px;
}

.curriculum-update-button {
    margin-bottom: .5rem;
}

.profile-text {
    margin-top: 5px;
    height: 50px;
}

.loading-home {
    margin: 15rem auto;
}

.loading-repos {
    margin: 5rem auto;
}

/* Navbar */
.navbar-brand {
    padding-top: .45rem;
    padding-bottom: .45rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/* Utilities */
.border-top {
    border-top: 1px solid #fff;
}

.border-bottom {
    border-bottom: 1px solid #fff;
}

.highlighted {
    color: #32cefe;
    font-weight: 700;
    background-color: transparent;
}

.search-results {
    padding-bottom: 2rem;
}

.blue {
    color: #32cefe;
    font-size: 1.4rem;
}

.list-group-item {
    padding: .5rem 1rem .2rem 1rem;
}

.btn-group {
    flex-wrap: wrap;
}

/* Timeline */
.updates-container {
    background-color: #f8f9fa;
}

.updates-container a {
    color: #212529;
}

ul.timeline {
    position: relative;
    list-style-type: none;
    padding-left: 47px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

ul.timeline:before {
    position: absolute;
    display: block;
    left: 15px;
    width: 2px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    content: ' ';
}

ul.timeline .event {
    position: relative;
    margin-bottom: 30px;
}

ul.timeline .event:before {
    display: block;
    position: absolute;
    top: 0;
    left: -41px;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: white;
    content: ' ';
}

ul.timeline h5 {
    font-weight: 300;
    text-transform: uppercase;
}

/* Media Queries */
@media (min-width: 768px) {
    .sidebar {
        min-height: 100vh;
    }
}

@media (max-width: 768px) {
    [role="main"] {
        padding-top: 0;
    }
}

@media (max-width: 1024px) {
    .card-columns {
        column-count: auto;
    }
}